* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
}

.header-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 35px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0 px;
}

nav ul li a {
  padding: 0 15px;
  text-decoration: none;
  color: white;
}

.header-btns {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
}

.header-content {
  color: white;
  width: 750px;
  padding-top: 350px;

  margin: auto;
  text-align: center;
}

.header-content > p {
  padding: 20px 0;
}

.header-content > a {
  margin: 0 10px;
}

a > span {
  font-size: 25px;
  vertical-align: middle;
}

section {
  display: flex;
}
