* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: 0px -110px;
  background-repeat: no-repeat;
  height: 50vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 35px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0 px;
}

nav ul li a {
  padding: 0 15px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
}

.header-btns {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 50px;
}
.btn-black {
  background-color: #23272a;
  color: white;
}

/* probabilmente da fare con header flex e posizionarlo in modo tale che rimpicciolendo la finestra non vada fuori dall'header */
.header-content {
  color: white;
  width: 750px;
  padding-top: 150px;
  margin: auto;
  text-align: center;
}

.header-content > p {
  padding: 20px 0;
}

.header-content > a {
  margin: 0 10px;
}

a > span {
  font-size: 25px;
  vertical-align: middle;
}

section {
  /* border: 3px solid black; */
  display: flex;
  height: 50vh;
  /* se metto le altezze fisse, come sembra dalla foto che abbiamo ricevuto il testo sborda, se invece non le metto succede qualcosa di strano al testo a destra, ovvero scompare se restringo molto lo shcermo. */
  justify-content: center;
  align-items: center;
}

section h2 {
  font-size: 1, 5rem;
  margin: 0px 25px;
}

section p {
  font-size: 1rem;
  padding-top: 20px;
  margin: 0px 25px;
}

.gray {
  background-color: lightgray;
}

/* vedere cosa succede mettendo una larghezza preimpostata per il testo */

.text-right .content-right {
  max-width: 15%;
}

.text-left .content-left {
  max-width: 15%;
}

.big-one {
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 7vh;
}

.big-one > p {
  max-width: 47%;
}

.img-big {
  height: 50vh;
  margin: 5vh 0;
}

.cta {
  text-align: center;
}

.cta h3 {
  font-size: 25px;
  margin-top: -40px;
  padding-bottom: 2vh;
}

.cta-btn {
  background-color: #7289da;
  padding: 10px 20px;
  border-radius: 50px;
}

.cta-btn a {
  color: white;
  text-decoration: none;
}

footer {
  background-color: #23272a;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}
